.inputs {
    width: 150px;
    margin: 10px 10px 10px 25px;

}

.noValid:focus {
    box-shadow: 0 0 5px rgba(236, 13, 13, 0.5);
}

.Valid:focus {
    box-shadow: 0 0 5px rgb(27, 117, 61);
}

.noValid {
    border: 1px solid red !important;
    width: 150px;
    margin: 10px 10px 10px 25px;
    box-shadow: 0 0 5px rgba(236, 13, 13, 0.5);
}

.Valid {
    border: 1px solid green !important;
    width: 150px;
    margin: 10px 10px 10px 25px;
    box-shadow: 0 0 5px rgb(27, 117, 61);
}

.inputs_email {
    width: 200px;
}

.span_name {
    user-select: none;
    font-family: Roboto, sans-serif, inherit;
    font-size: 18px;
    text-align: right;
    background: #fff;
    font-weight: 400;

}

.contacts_table {
    margin: 10px;
    width: 100%;
}

li {
    list-style: none;
    padding: 10px;
}

.search_area {
    margin: 30px 10px 10px 25px;
}

.buttons {
    margin: 5px 0 5px 0;
}

.nameDelete__icon {
    text-align: center;

    margin-top: 7px;
    cursor: pointer;
    display: inline-block;
}
